.encabezado{
    display: flex;
    flex-direction: row;
    background-color: #000000;
    padding: 10px;
    color: white;
}
.navegacion{
    background-color: #150050;
    padding: 30px;
    color: white;
}
.contenedor{
    background-color: #3F0071;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.principal{
    background-color: #FB2576;
    padding: 30px;
    grid-column: 1/4;
}
.lateral{
background-color: #150050;
padding: 30px;
grid-column: 4/5;

}
.pie{
background-color: #000000;
color: white;
padding: 30px;
}